<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="headerfiles">
  <meta charset="UTF-8" />
  <link th:href="@{/css/style.css}" href="../../static/css/style.css" rel="stylesheet">

  <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css">

  <!-- Optional theme -->
  <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}" href="../../static/css/bootstrap-theme.css">
</head>
<body>
<div th:fragment="header">

  <ul class="nav nav-tabs">
    <li role="presentation" th:attr="class=${page == 'home' ? 'active' : null }">
      <a th:href="@{/}">Home</a>
    </li>
    <li role="presentation" th:attr="class=${page == 'appointments' ? 'active' : null }">
      <a th:href="@{/appointments}">Appointments</a>
    </li>
    <li role="presentation" th:attr="class=${page == 'forum' ? 'active' : null }">
      <a th:href="@{/forum}">Forum</a>
    </li>
    <li role="presentation" th:attr="class=${page == 'activity' ? 'active' : null }">
      <a th:href="@{/activity}">Activity</a>
    </li>
    <li role="presentation" sec:authorize="hasAuthority('ADMIN')" th:attr="class=${page == 'admin' ? 'active' : null }">
      <a th:href="@{/admin}">Admin</a>
    </li>

    <li style="float:right;" role="presentation" sec:authorize="isAuthenticated()">
      <a th:href="@{/logout}">Logout</a>
    </li>
    <li style="float:right;" role="presentation" sec:authorize="isAnonymous()">
      <a th:href="@{/register}">Register</a>
    </li>
    <li style="float:right;" role="presentation" sec:authorize="isAnonymous()">
      <a th:href="@{/login}">Login</a>
    </li>
  </ul>
</div>
</body>
</html>