<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Activity log</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{style.css}" />
    <!--/*/ <th:block th:replace="fragments/general :: headerfiles"></th:block> /*/-->

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css">

    <!-- Optional theme -->
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}" href="../static/css/bootstrap-theme.css">
</head>
<body class="bodyClass">

<div class="container">
    <header class="row" th:insert="fragments/general :: header">
    </header>

    <div class="page-header">
        <h1>Activity log</h1>
    </div>

    <div>
        <div class="panel panel-default" th:each="event : ${events}">
            <div class="panel-body">
                <span th:text="${event.description}">
                    You ate a sandwich.
                </span>

                <span style="float: right" th:text="${#dates.format(event.date)}">
                    Date
                </span>
            </div>
        </div>
    </div>
</div>

</body>
</html>
