<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Centre Appointments</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{style.css}" />
    <!--/*/ <th:block th:replace="fragments/general :: headerfiles"></th:block> /*/-->
</head>
<body>

<header th:insert="fragments/general :: header"></header>

    <div th:each="centre : ${locations}">
        <p th:text="|Appointments for ${centre.getName()}:|"></p>
        <div>
            <table>
                <tr class="black-border" th:each="app : ${centre.getAppointments()}">
                    <form method="post" th:action="|@{ /edit/{id} (id=${app.getId()}) }|">
                        <td>
                            <p th:text="|Appointment for ${app.getUser().getFirstName()} ${app.getUser().getLastName()}|"></p>
                        </td>
                        <td th:if="${app.getUser().getDoses().size() == 0}">
                            <p>Select a Vaccine:</p>
                        <!-- if this is their first dose-->
                            <select name="type">
                                <option>Pfizer</option>
                                <option>Moderna</option>
                                <option>Janssen</option>
                            </select>
                        </td>
                        <td th:unless="${app.getUser().getDoses().size() == 0}">
                            <!-- if this is not their first dose-->
                            <p th:text="|Vaccine type: ${app.getUser().getDoses().get(0).getVaccineType()}|"></p>
                            <input type="hidden" name="type" th:value="${app.getUser().getDoses().get(0).getVaccineType()}"/>
                        </td>
                        <td>
                            <!-- When this button is clicked convert the appointment to a new dose and if this is the first one book a second dose -->
                            <input type="submit"/>
                        </td>
                    </form>
                </tr>
            </table>
            <br>
        </div>
    </div>
</body>
</html>