<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{style.css}" />

    <!--/*/ <th:block th:replace="fragments/general :: headerfiles"></th:block> /*/-->

</head>
<body>

<div class="container">
    <header class="row" th:insert="fragments/general :: header"></header>

    <table>
        <thead>
            <tr>
                <th>Question</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="thread : ${threads}">
                <td><a th:href="@{'/forum/' + ${thread.id}}" th:text="${thread.title}">
                    Title here
                </a></td>
                <td th:text="${thread.posts.get(0).dateCreated}"></td>
            </tr>
        </tbody>
    </table>

    <p>
        Can't find what you need? Post a new question here:
    </p>

    <form method="post" th:action="@{/forum/new}" th:object="${newThread}">
        <label>
            Title:
            <input th:field="*{title}">
        </label>
        <label>
            Content:
            <textarea th:field="*{content}"></textarea>
        </label>
        <input type="submit">
    </form>

</div>
</body>
</html>
