<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />

    <!--/*/ <th:block th:replace="fragments/general :: headerfiles"></th:block> /*/-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css">

    <!-- Optional theme -->
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}" href="../static/css/bootstrap-theme.css">

</head>
<body class="bodyClass">

<div class="container">
    <header class="row" th:insert="fragments/general :: header"></header>

    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Question</th>
                <th>Author</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="thread : ${threads}">
                <td><a th:href="@{'/forum/' + ${thread.id}}" th:text="${thread.title}">
                    Title here
                </a></td>
                <td th:text="|${thread.author.firstName} ${thread.author.lastName}|"></td>
                <td th:text="${thread.posts.get(0).dateCreated}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3 style="margin-top: 20px" class="heading">Can't find what you need? Post a new question here:</h3>

    <div class="row">
        <form method="post" th:action="@{/forum/new}" th:object="${newThread}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label for="titleInput">
                        Title:
                    </label>
                    <input id="titleInput" th:field="*{title}">
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="contentInput">
                            Content:
                        </label>
                        <textarea id="contentInput" th:field="*{content}"></textarea>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit">
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>
