<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${thread.title}">Thread title</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{style.css}" />
    <!--/*/ <th:block th:replace="fragments/general :: headerfiles"></th:block> /*/-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <header class="row" th:insert="fragments/general :: header">
    </header>
    <b th:text="${thread.title}"></b>

    <div>
        <div th:each="post : ${thread.posts}">
            <b th:text="|${post.author.firstName}:|">John</b>
            <p th:text="${post.content}">Whats the deal with airplane food.</p>
        </div>
    </div>

    <form method="post" th:action="@{'/forum/' + ${id}}">
        <label>
            Content:
            <textarea name="content"></textarea>
        </label>
        <input type="submit">
    </form>
</div>

</body>
</html>
