<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${thread.title}">Thread title</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{style.css}" />
    <!--/*/ <th:block th:replace="fragments/general :: headerfiles"></th:block> /*/-->

</head>
<body>

<header th:insert="fragments/general :: header"></header>
    <b th:text="${thread.title}"></b>

    <div>
        <div th:each="post : ${thread.posts}">
            <b th:text="|${post.author.firstName}:|">John</b>
            <p th:text="${post.content}">Whats the deal with airplane food.</p>
        </div>
    </div>

    <form method="post" th:action="@{'/forum/' + ${id}}">
        <label>
            Content:
            <textarea name="content"></textarea>
        </label>
        <input type="submit">
    </form>

</body>
</html>
