<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{style.css}" />

    <!--/*/ <th:block th:replace="fragments/general :: headerfiles"></th:block> /*/-->

</head>
<body>

<header th:insert="fragments/general :: header"></header>

<div>

    <a href="forum.html" th:href="@{forum}"></a>


</div>
</body>
</html>
