<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{style.css}" />
</head>
<body>
<!--/*@thymesVar id="user" type="howdo.vaccine.model.User"*/-->


<div>

    <!--
    TODO: Implement registration form
    Users can register to the Vaccination System: Users can register by providing their personal
    details (name, surname, date of birth,  PPS Number, address, phone number, email address, nationality).
    Only users who are over 18 can register in the system correctly.
    -->

    <form method="post" th:action="@{/register}" th:object="${user}">
        <label>
            PPSN:
            <input th:field="*{ppsNumber}">
        </label>
        <br>
        <label>
            Password:
            <input type="password" th:field="*{password}">
        </label>
        <br>
        <label>
            First Name:
            <input th:field="*{firstName}">
        </label>
        <br>
        <label>
            Last Name:
            <input th:field="*{lastName}">
        </label>
        <br>
        <label>
            Nationality:
            <input th:field="*{nationality}">
        </label>
        <br>
        <label>
            Phone Number:
            <input th:field="*{phoneNumber}">
        </label>
        <br>
        <label>
            DoB:
            <input type="date" th:field="*{dateOfBirth}">
        </label>
        <br>
        <label>
            Email:
            <input type="email" th:field="*{emailAddress}">
        </label>
        <br>
        <input type="submit">
    </form>

</div>
</body>
</html>
