<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{style.css}" />

    <!--/*/ <th:block th:replace="fragments/general :: headerfiles"></th:block> /*/-->
</head>
<body>
<!--/*@thymesVar id="user" type="howdo.vaccine.model.User"*/-->

<div class="container">

    <!--
    TODO: Implement registration form
    Users can register to the Vaccination System: Users can register by providing their personal
    details (name, surname, date of birth,  PPS Number, address, phone number, email address, nationality).
    Only users who are over 18 can register in the system correctly.
    -->

    <form method="post" th:action="@{/register}" th:object="${user}">
        <div class="form-group">
            <label for="ppsNumberFormInput">PPSN</label>
            <input class="form-control" id="ppsNumberFormInput" th:field="*{ppsNumber}"/>
        </div>
        <br>
        <div class="form-group">
            <label for="passwordFormInput">Password</label>
            <input class="form-control" id="passwordFormInput" type="password" th:field="*{password}"/>
        </div>
        <br>
        <div class="form-group">
            <label for="firstNameFormInput">First Name</label>
            <input class="form-control" id="firstNameFormInput" th:field="*{firstName}"/>
        </div>
        <br>
        <div class="form-group">
            <label for="lastNameFormInput">Last Name</label>
            <input class="form-control" id="lastNameFormInput" th:field="*{lastName}"/>
        </div>
        <br>
        <div class="form-group">
            <label for="nationalityFormInput">Nationality</label>
            <input class="form-control" id="nationalityFormInput" th:field="*{nationality}"/>
        </div>
        <br>
        <div class="form-group">
            <label for="phoneNumberFormInput">Phone Number</label>
            <input class="form-control" id="phoneNumberFormInput" th:field="*{phoneNumber}"/>
        </div>
        <br>
        <div class="form-group">
            <label for="dateOfBirthFormInput">DoB</label>
            <input class="form-control" id="dateOfBirthFormInput" type="date" th:field="*{dateOfBirth}"/>
        </div>
        <br>
        <div class="form-group">
            <label for="emailAddressFormInput">Email</label>
            <input class="form-control" id="emailAddressFormInput" type="email" th:field="*{emailAddress}"/>
        </div>
        <br>
        <button class="btn btn-default" type="submit">Submit</button>
    </form>

</div>
</body>
</html>
