<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create an Appointment</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{style.css}" />
    <!--/*/ <th:block th:replace="fragments/general :: headerfiles"></th:block> /*/-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <header class="row" th:insert="fragments/general :: header">
    </header>
<!--/*@thymesVar id="appointment" type="howdo.vaccine.model.Appointment"*/-->


<div>
    <p th:if="${user.getDoses().size()}>1" >
        <b>You cannot book new appointments; you are already fully vaccinated.</b>
    </p>
    <p th:if="${user.getAppointments().size()}>0" >
        <b>You already have an appointment booked; you cannot book more than one appointment at once.</b>
    </p>
    <p>test</p>
</div>
<div>

    <!--
    Logged-in users can set an appointment to get a vaccine dose
    Users provide a time and a location for the appointment; that timeslot will be blocked as a result
    Distinguish between first and second dose appointments; second doses are booked automatically 21days after the User receives their first
    -->
    <form method="post" th:action="@{/appointments}" th:object="${appointment}">
        <label>
            Select a Timeslot:
            <input type="date" name="date" th:field="*{appointmentTime}"/>
        </label>
        <br>
        <label>
            Select a Location:
            <select name="location"> <!-- th:field="*{location}"> -->
                <!-- use th to iterate through the vaccination centres-->
                <option th:each="centre : ${locations}" th:value="${centre.getId()}" th:text="${centre.getName()}"></option>
            </select>
        </label>
        <br>
        <input type="submit">
    </form>

</div>
</div>
</body>
</html>
