<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{style.css}" />
</head>
<body>
<div>

    <!--
    TODO: Implement registration form
    Users can register to the Vaccination System: Users can register by providing their personal
    details (name, surname, date of birth,  PPS Number, address, phone number, email address, nationality).
    Only users who are over 18 can register in the system correctly.
    -->

    <form method="post">
        <input name="username">
        <input name="password" type="password">
        <input type="submit">
    </form>

</div>
</body>
</html>
