<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org" xmlns:c="">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{style.css}" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            packages: ['corechart']
        });
    </script>
    <!--/*/ <th:block th:replace="fragments/general :: headerfiles"></th:block> /*/-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

</head>
<body class="bodyClass">
    <div class="container">
        <header class="row" th:insert="fragments/general :: header"></header>
        <table class="statsTable">


            <tr><th><h1>User Information</h1></th></tr>
            <tr>
                <th>Name: </th><th th:text="${fullName}"></th>
            </tr>
            <tr>
                <th>PPS Number: </th><th th:text="${PPS}"></th>
            </tr>
            <tr>
                <th>Date of Birth: </th><th th:text="${birthDate}"></th>
            </tr>
            <tr>
                <th>Phone Number: </th><th th:text="${phoneNumber}"></th>
            </tr>
            <tr>
                <th>Email Address: </th><th th:text="${email}"></th>
            </tr>
            <tr>
                <th>Nationality: </th><th th:text="${nationality}"></th>
            </tr>

            <tr></tr><tr><th><h1>Appointment Information</h1></th></tr>

                <tr th:each="appointment : ${appointments}">
                    <td th:text="${appointment.location.name}"></td>
                    <td th:text="${appointment.appointmentTime}"></td>

                </tr>

            <tr></tr><tr><th><h1>Vaccine Dose Information</h1></th></tr>

            <tr th:each="userDose : ${userDoses}">
                <td th:text="${userDose.vaccineType}"></td>
                <td th:text="${userDose.date}"></td>

            </tr>



            <tr><th><h1>Stats</h1></th></tr>
            <tr>
                <th>Number of registered citizens:</th>
                <th th:text="${userTotal}"></th>
            </tr>
            <tr>
                <th>Number of vaccinated citizens:</th>
                <th th:text="${doseTotal}"></th>
            </tr>
            <tr>
                <th>Percentage of Ireland's population that are vaccinated:</th>
                <th th:text="${vaccinatedPercentage}"></th><th>%</th>
            </tr>
            <tr>
                <th>Number of Operating Vaccination Centres:</th>
                <th th:text="${vaccinationCentreTotal}"></th>
            </tr>
            <tr>
                <th>Number of booked appointments done online:</th>
                <th th:text="${appointmentTotal}"></th>
            </tr>
            <tr>
                <th>Number of forum Posts:</th>
                <th th:text="${forumPostTotal}"></th>
            </tr>

        </table>

        <div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
        <script language="JavaScript">
            function drawChart() {

                var userTotal = [[${userTotal}]];
                var doseTotal = [[${doseTotal}]];

                /* Define the chart to be drawn.*/
                var data = google.visualization.arrayToDataTable([
                    ['Number of Registered Citizens versus Number of Vaccinated Citizens', 'Number of People'],
                    ['Registered Citizens', userTotal],
                    ['Vaccinated Citizens', doseTotal]
                ]);
                var options = {
                    title: 'Number of Registered Citizens versus Number of Vaccinated Citizens',
                    isStacked: true
                };
                /* Instantiate and draw the chart.*/
                var chart = new google.visualization.BarChart(document.getElementById('container'));
                chart.draw(data, options);
            }
            google.charts.setOnLoadCallback(drawChart);

        </script>


        <div id="container2" style="width: 550px; height: 400px; margin: 0 auto"></div>
        <script language="JavaScript">
            function drawChart() {

                var zeroDosesTotal = [[${zeroDosesTotal}]];
                var oneDosesTotal = [[${oneDosesTotal}]];
                var twoDosesTotal = [[${twoDosesTotal}]];

                /* Define the chart to be drawn.*/
                var data = google.visualization.arrayToDataTable([
                    ['Number of doses given to each person', 'Number of People'],
                    ['Zero Doses', zeroDosesTotal],
                    ['One Dose', oneDosesTotal],
                    ['Two Doses', twoDosesTotal]
                ]);
                var options = {
                    title: 'Number of Doses Given to Each Person',
                    isStacked: true
                };
                /* Instantiate and draw the chart.*/
                var chart = new google.visualization.BarChart(document.getElementById('container2'));
                chart.draw(data, options);
            }
            google.charts.setOnLoadCallback(drawChart);

        </script>
    </div>
</body>
</html>