<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Your Appointments</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <!--/*/ <th:block th:replace="fragments/general :: headerfiles"></th:block> /*/-->

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css">

    <!-- Optional theme -->
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}" href="../static/css/bootstrap-theme.css">

</head>
<body>

<div class="container">

    <header th:insert="fragments/general :: header"></header>

    <h1 class="heading">Your Appointments</h1>

    <div th:if="${error != null}" class="alert alert-danger" th:text="${error.getMessage()}">
        Error
    </div>

    <div th:if="${!user.getAppointments().isEmpty()}" class="row">
        <div class="panel panel-default" th:each="app : ${user.getAppointments()}">
            <div class="panel-body">
                <p th:text="|Appointment at ${app.getLocation().getName()} on ${app.getAppointmentTime()}|"></p>
            </div>

            <div class="panel-footer">
                <form method="post" th:action="|@{ /cancel/{id} (id=${app.getId()}) }|">
                    <button type="submit">Cancel Appointment</button>
                </form>
            </div>
        </div>
    </div>

    <div th:if="${user.getAppointments().isEmpty()}" class="row">
        <form method="post" th:action="@{/appointments}" th:object="${appointment}">
            <div class="form-group">
                <label for="dateInput">
                    Select a Timeslot:
                </label>
                <input onchange="getTimes()" type="date" id="dateInput" name="date"/>
            </div>
            <div>
                <label for="locationInput">
                    Select a Location:
                </label>
                <select onchange="getTimes()" class="form-control" id="locationInput" name="location"> <!-- th:field="*{location}"> -->
                    <!-- use th to iterate through the vaccination centres-->
                    <option th:each="centre : ${locations}" th:value="${centre.getId()}" th:text="${centre.getName()}"></option>
                </select>
            </div>
            <div id="timesContainer">

            </div>

            <script th:nonce="${cspNonce}">
                async function getTimes() {
                    const locationInput = document.getElementById("locationInput");
                    const dateInput = document.getElementById("dateInput");

                    if (locationInput.value === "" || dateInput.value === "") return;

                    const query = "/appointments/times?" + new URLSearchParams({
                        "location": locationInput.value,
                        "date": dateInput.value,
                    });

                    const response = await fetch(query, {
                        "credentials": "include",
                        "headers": {
                            "Accept": "text/html",
                        },
                        "referrer": "http://localhost:8080/login",
                        "method": "GET",
                        "mode": "cors"
                    });

                    const html = await response.text();
                    const timesContainer = document.getElementById("timesContainer");

                    timesContainer.innerHTML = html;
                }

                document.getElementById("timesContainer").addEventListener("change", getTimes);
            </script>
        </form>
    </div>
</div>

</body>
</html>